/*  Estilos del LogIn y SignUp*/
.divForm {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.invisible {
    height: 1px;
}

/* Fondo del botón */
.send {
    background-color: #58c473;
    /* color de fondo verde */
    border-color: #3ee264;
    /* color del borde verde */
    color: #555;
}

/* Color del texto del botón */
.send:hover,
.send:focus,
.send:active {
    background-color: #62cf79;
    /* Background verde oscuro */
    border-color: #62cf79;
    /* Color del borde verde oscuro */
}

/* Color del texto del enlace */
a {
    color: #28a745;
    /* Color del texto verde */
}

/* Color del texto de los inputs */
.form-control {
    color: #555;
    /* Color del texto gris oscuro */
}

/* Posicionamiento del LogIn y SignUp */
.verticalPosition {
    margin-top: 12%;
}

.seller {
    margin-top: 9%;
}